
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}



html {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: normal;
    font-size: 20px;
    color: #1B1B1B;
    line-height: 1.25;
}
body {
  overflow-x: hidden;
  margin: 0;
}
h1,h2,h3,h4,h5 {
  margin: 0;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
section {
  margin-top: 2em;
  margin-bottom: 2em;
}
.btn {
  background-color: #1B1B1B;
  color:#fff;

  padding: 22px 115px 22px 70px;

  border: none;
  border-radius: 40px;

  font-size: 0.8rem;

  position: relative;
  
}
.btn::before {
  content: '';
  position: absolute;
  right: 55px;
  top:50%;
  transform: translateY(-50%);
  width: 43px;
  height: 43px;
  background-color: #fff;

  cursor: pointer;

  border-radius: 100%;

  background-image: url("./img/btn_arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.subtitle img {
  display: inline;
  vertical-align: bottom;
}
.header .inner, .header .header__main, .header .header__main .nav, .header .header__contacts {
  display: flex;
}
.header {
  margin-top: 2em;
  margin-bottom: 2em;
}
.header a {
  text-decoration: inherit;
  color: inherit;
}
.header .inner {
  justify-content: space-between;
  
}
.header .header__main {
  column-gap: 2em;
  align-items: center;
}
.header .header__main .logo {
  font-size: 1.25rem;
  font-weight: 700;
}
.header .header__main .nav {
  column-gap: 3em;
}
.header .header__contacts {
  column-gap: 0.5em;
}
.header .header__contacts .info a{
  display: block;
}
.header .header__contacts .info a.callback {
  font-size: 0.8rem;
  text-decoration: underline;
}
.hero {
  padding: 0 1.5em;
  border-radius: 0.85em;
}
.hero .inner {
  display: flex;
  border-radius: 0.85em;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
}
.hero .hero__main{
  background-color: #1544AC;
  color: #fff;
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  
}
.hero .hero__main .title {
  font-size: 2.5rem;
  line-height: 1.16;
  font-weight: 500;
  margin-bottom: 0.2em;
}
.hero .hero__main .desc {
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 2em;
}
.hero .hero__image {
  flex-shrink: 0;
}
.adv .inner {
  display: flex;
  column-gap: 8em;
}

.adv .inner .adv__title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.adv .inner .adv__title .subtitle {
  color: #1544AC;
  margin-bottom: 0.5em;
}
.adv .inner .adv__title .title {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.adv .inner .adv__list .adv__item {
  display: flex;
  align-items: center;
}
.adv .inner .adv__list .adv__item .adv__img {
  width: 260px;
  margin-right: 2em;
}
.adv .inner .adv__list .adv__item .adv__info {
  margin-bottom: 1em;
}
.adv .inner .adv__list .adv__item .adv__info .title{
  font-size: 1.25rem;
  font-weight: 500;
}
.adv .inner .adv__list .adv__item .adv__info .desc {
  font-size: 0.9rem;
  color: #9B9B9B;

}
.consulting .consulting__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
.consulting .consulting__header .subtitle {
  color: #1544AC;
  margin-bottom: 0.5em;
}
.consulting .consulting__header .title {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1em;
  max-width: 200px;
}
.consulting .consulting__header .tabsBtns {
  display: flex;
  column-gap: 0.5em;
}
.consulting .consulting__header .tabsBtns .tabBtn {
  border: 1px solid #0000001A;
  background-color: transparent;
  padding: 24px 40px;
  border-radius: 10px;
  cursor: pointer;

  transition: all .3s ease-in;
}
.consulting .consulting__header .tabsBtns .tabBtn.active {
  background-color: #1544AC;
  color: #fff;
}
.consulting .consulting__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  display: none;
}
.consulting .consulting__list.active {
  display: grid;
}
.consulting .consulting__list .consulting__item a {
  text-decoration: none;
}
.consulting .consulting__list .consulting__item img{
  margin-bottom: 0.5em;
}

.consulting .consulting__list .consulting__item .image {
  position: relative;
}
.consulting .consulting__list .consulting__item .image img {
  width: 100%;
}
.consulting .consulting__list .consulting__item .title {
  transition: font-weight .2s ease-in;
}
.consulting .consulting__list .consulting__item .image::before {
  content: '';
  background-color: #194AFF4D;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  opacity: 0;
  border-radius: 15px;
  transition: opacity .2s ease-in;
}
.consulting .consulting__list .consulting__item .image::after {
  content: '';
  background-image: url('./img/view.svg');
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  opacity: 0;
  border-radius: 15px;
  transition: opacity .2s ease-in;
  width: 91px;
  height: 91px;
}

.consulting .consulting__list .consulting__item:hover .image::before, .consulting .consulting__list .consulting__item:hover .image::after{
  opacity: 1;
}
.consulting .consulting__list .consulting__item:hover .title {
  font-weight: 700;
}
.consulting .consulting__list .consulting__item .text {
  display: none;
}
.runningLine {
  font-size: 3.25rem;
  font-weight: 800;
  color: #989898;

  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
}
.runningLine .text {
  width: 160vw;
  animation: ticker 10s infinite linear forwards;
  white-space: nowrap;
  display: none;
}
.runningLine .text.active {
  display: block;
}
@keyframes ticker {
  0% {
    transform: translate(0%, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}
.feedbackNote {
  text-align: center;
}
.feedbackNote h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.4em;

}
.feedbackNote h4 {
  font-size: 1.25rem;
  font-weight: 400;
}
.feedbackCenter {
  position: relative;
}
.feedbackCenter::before {
  content: '';
  position: absolute;
  width: 130px;
  height: 120px;
  left: 180px;
  top: 50%;
  background-image: url("./img/feedback_bg_mark.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%);
}
.feedbackCenter::after {
  content: '';
  position: absolute;
  width: 1800px;
  height: 560px;
  right: -80px;
  top: 0%;
  background-image: url("./img/feedback_bg_cur.svg");
  z-index: 0;
}
.feedbackCenter .inner{
  max-width: 1544px;
  margin: 0 auto;
  background-color: #1544AC;
  color: #FFFFFF;
  border-radius: 15px;
  padding: 45px 180px;
}
.feedbackCenter .inner h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
  font-weight: 400;
}
.feedbackCenter .feedbackCenter__form {
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
  line-height: 1;
  position: relative;
  z-index: 2;
}
.feedbackCenter .feedbackCenter__form input {
  border: 1px rgb(244, 244, 244, 0.6) solid;
  border-radius: 15px;
  color: #fff;
  padding: 18px 28px;
  background-color: transparent;
  height: 66px;
  width: 100%;
}
.feedbackCenter .feedbackCenter__form .btn {
  width: 80%;
}
.feedbackCenter .feedbackCenter__note {
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 1em;
}
.about .inner{
  display: flex;
  column-gap: 4em;
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: 6em;
}
.about .inner .image {
  flex-shrink: 0;
  position: relative;
}
.about .inner .content {
  text-align: justify;
  max-width: 800px;
}
.about .inner .content h2 {
  font-size: 2rem;
  font-weight: 400;
}
.roatingText {
  position: absolute;
  right: -85px;
  bottom: -85px;
  animation: roatingText 10s infinite linear forwards;
}
@keyframes roatingText {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.numbers {
  background-color:  #1544AC;
  position: relative;
}
.numbers::after {
  content: '';
  position: absolute;
  width: 80%;
  height: 125px;
  left: 60%;
  transform: translateX(-50%);
  bottom: 0;
  background-image: url("./img/numbers_bg.svg");
  background-repeat: no-repeat;
}
.numbers .inner .numbers__list {
  display: flex;
  color: #fff;
  height: 500px;
}
.numbers .inner .numbers__list .numbers__item {
  height: 100%;
  border-right: 1px solid #FFFFFF33;
  border-width: 1px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      #FFFFFF, 
      rgb(8, 58, 168, .3),
      rgb(8, 58, 168, 0)
    ) 1 100%;
  padding-left: 1em;
  padding-right: 1em;
}
.numbers .inner .numbers__list .numbers__item:nth-child(even) {
  align-content: center;
}
.numbers .inner .numbers__list .numbers__item .numbers__main{
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  column-gap: 0.3em;
  margin-top: 1em;
}
.numbers .inner .numbers__list .numbers__item .numbers__main .number {
  font-size: 4rem;
  font-weight: 800;
}
.numbers .inner .numbers__list .numbers__item .numbers__main .text {
  margin-top: 0.4em;
}
.numbers .inner .numbers__list .numbers__item .numbers__note {
  font-size: 1.25rem;
}
.team__header {
  max-width: 1544px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.team__header .team__navBtns {
  display: flex;
  column-gap: 1em;
}
.team__header .team__navBtns .back, .team__header .team__navBtns .next{
  position: static;
  margin-top: 0;
  border-radius: 100%;
  border: none;
  color:#000;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
}
.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 1.25rem;
}
.team__headerTitle .subtitle {
  color: #1544AC;
  margin-bottom: 0.5em;
}
.team__headerTitle .title {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.team .team__list {
  min-height: 425px;
}
.team .team__list .team__item.swiper-slide {
  transition: all .3s ease-in;
}
.team .team__list .team__item.swiper-slide-active, .team .team__list .team__item.swiper-slide-active + .team__item, .team .team__list .team__item.swiper-slide-active + .team__item + .team__item, .team .team__list .team__item.swiper-slide-active + .team__item + .team__item + .team__item{
  
  transform: translateY(50px);
}
.team .team__list .team__item .team__img {
  width: 315px;
  height: 315px;
  border-radius: 100%;
  overflow: hidden;
}
.team .team__list .team__item .team__img img {
  object-fit: cover;
  object-position: center;
  height: 100%;
}
.team .team__list .team__item .team__info {
  text-align: center;
}
.team .team__list .team__item .team__info .title {
  font-size: 1.25rem;
}
.team .team__list .team__item .team__info .desc {
  font-size: 0.9rem;
}
.clients__header {
  max-width: 1544px;
  margin: 0 auto;
}
.clients__header .subtitle {
  color: #1544AC;
  margin-bottom: 0.5em;
}
.clients__header .title {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.clients__list .clients__row {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
  animation: ticker 10s infinite linear forwards;
}
.clients__list .clients__row:last-child {
  animation: ticker 10s infinite linear reverse;
}
.clients__list .clients__row .clients__item {
  border: 1px solid #ECECEC;
}
.clients__list .clients__row .clients__item img {
  max-width: unset;
}
.clients__list .clients__row:hover {
  animation-play-state: paused;
}
.clients__list .clients__row .clients__item img {
  padding: 35px 100px;
  
}
.feedbackFooter {
  background-color: #1544AC;
  color: #FFFFFF;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-top: 5em;
  padding-bottom: 5em;
}
.footer__wrapper {
  background-color: #1544AC;
}
.feedbackFooter .inner {
  display: flex;
  align-items: center;
}
.feedbackFooter .inner h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
  font-weight: 400;
}
.feedbackFooter .feedbackFooter__question {
  flex-shrink: 4;
  
  font-weight: 500;
  
  position: relative;
}
.feedbackFooter .feedbackFooter__question h2 {
  font-size: 2rem;
  font-weight: 500;
}
.feedbackFooter .feedbackFooter__question::before {
  content: '';
  position: absolute;
  background-image: url("./img/questionMarks.svg");
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 450px;
  height: 216px;
  background-repeat: no-repeat;
}
.feedbackFooter .feedbackFooter__question::after {
  content: '';
  position: absolute;
  background-image: url("./img/footer_feedback_pointer.svg");
  right: 3%;
  top: 60%;
  width: 240px;
  height: 143px;
  background-repeat: no-repeat;
}
.feedbackFooter .feedbackFooter__form {
  line-height: 1;
}
.feedbackFooter .feedbackFooter__form .inputRow {
  display: flex;
  column-gap: 1em;
}
.feedbackFooter .feedbackFooter__form input {
  border: 1px rgb(244, 244, 244, 0.6) solid;
  border-radius: 15px;
  color: #fff;
  padding: 18px 28px;
  background-color: transparent;
  height: 66px;
  width: 100%;
}
.feedbackFooter .feedbackFooter__note {
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 1em;
  margin-bottom: 1em;
}
.feedbackFooter .feedbackFooter__form .sendForm {
  width: 100%;
}
.feedbackFooter {
  margin-bottom: 0;
}
.footer {
  background-color: #0E1016;
  color: #9B9B9B;
  padding-top: 3em;
  padding-bottom: 3em;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.footer h2, .footer h3, .footer h4 {
  color: #fff;
}
.footer  .inner .footer__main .footer__content .logo {
  font-size: 2rem;
  margin-bottom: 0.3em;
}
.footer  .inner .footer__main .footer__content .text {
  margin-bottom: 1em;
  line-height: 1.25;
}
.footer  .inner .footer__main{
  display: flex;
  justify-content: space-between;
}
.footer  .inner .footer__main a {
  text-decoration: none;
}
.footer  .inner .footer__main ul {
  padding-left: 10px;
}
.footer  .inner .footer__main .social {
  display: flex;
  column-gap: .5em;
  align-items: center;
}
.footer  .inner .footer__main .footer__nav ul li {
  list-style-type: '-';
  padding-left: .5em;
}

.footer  .inner .footer__main .footer__contact ul li {
  list-style-type: none;
  display: flex;
  column-gap: .8em;
  margin-bottom: .8em;
}
.footer  .inner .footer__main .footer__content {
  flex-basis: 500px;
}
.footer  .inner .footer__footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #383838;
  padding-top: 2em;
}
.popupOverlay {
  background-color: #000F31CC;
  position: fixed;
  z-index: 15;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
}
.popupOverlay.active {
  display: block;
}
.popup {
  position: fixed;
  border-radius: 30px;
  max-width: 690px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  overflow: hidden;
  z-index: 20;
  display: none;
}
.popup.active {
  display: block;
}
.popup  .popup__header {
  
  color: #fff;
  font-size: 1.25rem;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.popup  .popup__header .title {
  padding: 1em;
}

.popup  .popup__header .closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.popup .popup__content {
  padding: 2em 2em;
  color: #626262;
  font-size: 0.9rem;
}
.popup .popupFeedback__form {
  line-height: 1;
  padding: 1em 4em;
}
.popup .popupFeedback__form h4 {
  font-size: 1.25rem;
  margin-bottom: 1.5em;
}
.popup .popupFeedback__form input {
  border: 1px #000 solid;
  border-radius: 15px;
  color: #fff;
  padding: 18px 28px;
  background-color: transparent;
  height: 66px;
  width: 100%;
  margin-bottom: 1em;
}
.popup .popupFeedback__form .btn {
  width: 100%;
}
.popup .popupFeedback__note {
  font-size: 0.65rem;
  font-weight: 300;
  margin-bottom: 1em;
}
.toUpBtn {
  position: fixed;
  bottom: 2em;
  right: 2em;
  width: 56px;
  height: 56px;
  border-radius: 10px;
  background-color: #1544AC;
  background-image: url("./img/arrowUp.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 50;
}
@media (max-width: 966px) {
  .container {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .header .header__main .nav, .header .header__contacts {
    display: none;
  }
  .hero__image {
    display: none;
  }
  .hero .hero__main {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .adv .inner {
    flex-direction: column;
  }
  .adv .adv__title {
    text-align: center;
    margin-bottom: 1em;
  }
  .consulting .consulting__header {
    flex-direction: column;
    margin-bottom: 1em;
  }
  .consulting .consulting__header .subtitle {
    text-align: center;
  }
  .consulting .consulting__header .title {
    max-width: 100%;
    text-align: center;
  }
  .consulting .consulting__list {
    grid-template-columns: 1fr 1fr;
  }
  .feedbackCenter .inner {
    text-align: center;
  }
  .feedbackCenter .feedbackCenter__form {
    flex-direction: column;
    text-align: center;
    row-gap: 1em;
  }
  .feedbackCenter .feedbackCenter__form .btn {
    width: 100%;
  }
  .about .inner {
    flex-direction: column;
  }
  .about .inner .image {
    margin-bottom: 1em;
  }
  .roatingText {
    overflow: hidden;
  }
  .consulting .consulting__list {
    grid-template-columns: 1fr 1fr;
  }
  .numbers .inner .numbers__list {
    height: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  .numbers .inner .numbers__list {
    flex-direction: column;
    row-gap: 1em;
  }
  .numbers .inner .numbers__list .numbers__item {
    height: unset;
    border: none;

  }
  .team__header .team__headerTitle {
    text-align: center;
    width: 100%;
  }
  .team__header .team__navBtns {
    display: none;
  }
  .clients__header .clients__headerTitle {
    text-align: center;
  }
  .clients__list .clients__row .clients__item img {
    padding: 25px 50px;
  }
  .feedbackFooter .inner {
    flex-direction: column;
  }
  .feedbackFooter .feedbackFooter__question {
    text-align: center;
    margin-bottom: 1em;
  }
  .feedbackFooter__main {
    text-align: center;
  }
  .feedbackFooter__form .inputRow{
    flex-direction: column;
  }
  .feedbackFooter__form .inputRow input {
    margin-bottom: 1em;
  }
  .feedbackFooter .feedbackFooter__question::after {
    transform: rotate(90deg);
  }
  .footer .inner .footer__main {
    flex-direction: column;
  }
  .footer .inner .footer__main .footer__content {
    flex-basis: unset;
    margin-bottom: 1em;
  }
  .footer__footer {
    flex-direction: column;
    text-align: center;
  }
  .footer__footer .copyright {
    margin-bottom: 1em;
  }
  .footer__footer .devLogo {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
  .btn {
    padding: 1em 7em;
  }
  .btn::before {
    right: 40px;
    width: 2em;
    height: 2em;
  }
  .hero .hero__main {
    padding: 1em;
  }
  .hero .hero__main .title {
    text-align: center;
    font-size: 1.5rem;
  }
  .hero .hero__main .desc{
    margin-bottom: 1em;
  }
  .consulting .consulting__header .tabsBtns {
    flex-direction: column;
    row-gap: 1em;
  }
  .consulting .consulting__header .tabsBtns .tabBtn {
    padding: 1em 2em;
  }
  .consulting .consulting__list {
    grid-template-columns: 1fr;
  }
  .feedbackNote h2 {
    font-size: 1.5rem;
  }
  .feedbackNote h4 {
    font-size: 1rem;
  }
  .feedbackCenter .inner {
    padding: 1em;
  }
  .feedbackCenter::before {
    left: 0;
  }
  .feedbackCenter::after{
    width: 1538px;
    height: 230px;
    right: 0;
    top: unset;
    bottom: 0;
  }
  .about .content {
    padding-left: 1em;
    padding-right: 1em;
  }
  .feedbackFooter .feedbackFooter__question::after {
    display: none;
  }
  .popup {
    left: 0%;
    top: 0%;
    transform: none;
    width: 100vw;
  }
  .popup .popupFeedback__form {
    padding: 1em;
  }
  .popup .popup__content {
    padding: 1em;
    max-height: 230px;
    overflow-y: scroll;
  }

  .popup .popupFeedback__form .inputRow {
    flex-direction: column;
  }
  .popup .popupFeedback__form input {
    padding: 1em;
  }
}