
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}



html {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: normal;
    font-size: 20px;
    color: #1B1B1B;
    line-height: 1.25;
}
body {
  overflow-x: hidden;
  margin: 0;
}
h1,h2,h3,h4,h5 {
  margin: 0;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
section {
  margin-top: 2em;
  margin-bottom: 2em;
}
.btn {
  background-color: #1B1B1B;
  color:#fff;

  padding: 22px 115px 22px 70px;

  border: none;
  border-radius: 40px;

  font-size: 0.8em;

  position: relative;
}
.btn::before {
  content: '';
  position: absolute;
  right: 55px;
  top:50%;
  transform: translateY(-50%);
  width: 43px;
  height: 43px;
  background-color: #fff;

  cursor: pointer;

  border-radius: 100%;

  background-image: url("/img/btn_arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.header .inner, .header .header__main, .header .header__main .nav, .header .header__contacts {
  display: flex;
}
.header {
  margin-top: 2em;
  margin-bottom: 2em;
}
.header a {
  text-decoration: inherit;
  color: inherit;
}
.header .inner {
  justify-content: space-between;
  
}
.header .header__main {
  column-gap: 2em;
  align-items: center;
}
.header .header__main .logo {
  font-size: 1.25em;
  font-weight: 700;
}
.header .header__main .nav {
  column-gap: 3em;
}
.header .header__contacts {
  column-gap: 0.5em;
}
.header .header__contacts .info a{
  display: block;
}
.header .header__contacts .info a.callback {
  font-size: 0.8em;
  text-decoration: underline;
}
.hero {
  padding: 0 1.5em;
  border-radius: 0.85em;
}
.hero .inner {
  display: flex;
  border-radius: 0.85em;
  overflow: hidden;
  max-width: 1920px;
}
.hero .hero__main{
  background-color: #1544AC;
  color: #fff;
  

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  
}
.hero .hero__main .title {
  font-size: 2.5em;
  line-height: 1.16;
  font-weight: 500;
  margin-bottom: 0.2em;
}
.hero .hero__main .desc {
  font-weight: 500;
  font-size: 0.8em;
  margin-bottom: 2em;
}
.hero .hero__image {
  flex-shrink: 0;
}
.adv .inner {
  display: flex;
}

.adv .inner .adv__title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.adv .inner .adv__title .subtitle {
  color: #1544AC;
  margin-bottom: 0.5em;
}
.adv .inner .adv__title .title {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.adv .inner .adv__list .adv__item {
  display: flex;
  align-items: center;
}
.adv .inner .adv__list .adv__item .adv__img {
  width: 170px;
  margin-right: 2em;
}
.adv .inner .adv__list .adv__item .adv__info {
  margin-bottom: 1em;
}
.adv .inner .adv__list .adv__item .adv__info .title{
  font-size: 25px;
  font-weight: 500;
}
.adv .inner .adv__list .adv__item .adv__info .desc {
  font-size: 18px;
  color: #9B9B9B;

}
.consulting .consulting__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
.consulting .consulting__header .subtitle {
  color: #1544AC;
  margin-bottom: 0.5em;
}
.consulting .consulting__header .title {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 0.5em;
  max-width: 200px;
}
.consulting .consulting__header .tabsBtns {
  display: flex;
  column-gap: 0.5em;
}
.consulting .consulting__header .tabsBtns .tabBtn {
  border: 1px solid #0000001A;
  background: transparent;
  padding: 24px 40px;
  border-radius: 10px;
}
.consulting .consulting__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}
.consulting .consulting__list .consulting__item a {
  text-decoration: none;
}
.consulting .consulting__list .consulting__item img{
  margin-bottom: 0.5em;
}
.runningLine {
  font-size: 65px;
  font-weight: 800;
  color: #989898;

  position: relative;
}
.runningLine .text {
  width: 300vw;
}
.feedbackNote {
  text-align: center;
}
.feedbackNote h2 {
  font-size: 40px;
}
.feedbackNote h4 {
  font-size: 25px;
}
.feedbackCenter .inner{
  max-width: 1544px;
  margin: 0 auto;
  background-color: #1544AC;
  color: #FFFFFF;
  border-radius: 15px;
  padding: 45px 180px;
}
.feedbackCenter .inner h3 {
  font-size: 25px;
  margin-bottom: 0.5em;
}
.feedbackCenter .feedbackCenter__form {
  display: flex;
  justify-content: space-between;
  column-gap: 1em;
  line-height: 1;
}
.feedbackCenter .feedbackCenter__form input {
  border: 1px rgb(244, 244, 244, 0.6) solid;
  border-radius: 15px;
  color: #fff;
  padding: 18px 28px;
  background-color: transparent;
  height: 66px;
}
.feedbackCenter .feedbackCenter__note {
  font-size: 16px;
  font-weight: 300;
  margin-top: 1em;
}
.about .inner{
  display: flex;
  column-gap: 4em;
  max-width: 1920px;
  margin: 0 auto;
  align-items: center;
}
.about .inner .image {
  flex-shrink: 0;
}
.about .inner .content {
  text-align: justify;
  max-width: 800px;
}
.about .inner .content h2 {
  font-size: 40px;
}

.numbers {
  background-color:  #1544AC;
  
}
.numbers .inner .numbers__list {
  display: flex;
  color: #fff;
  height: 500px;
}
.numbers .inner .numbers__list .numbers__item {
  height: 100%;
  border-right: 1px solid #FFFFFF33;
  padding-left: 1em;
  padding-right: 1em;
}
.numbers .inner .numbers__list .numbers__item:nth-child(even) {
  align-content: center;
}
.numbers .inner .numbers__list .numbers__item .numbers__main{
  font-size: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  column-gap: .8em;
}
.numbers .inner .numbers__list .numbers__item .numbers__main .number {
  font-size: 80px;
  font-weight: 800;
}
.numbers .inner .numbers__list .numbers__item .numbers__main .text {
  margin-top: 0.4em;
}
.numbers .inner .numbers__list .numbers__item .numbers__note {
  font-size: 25px;
}
.team__header {
  max-width: 1544px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.team__header .team__navBtns {
  display: flex;
  column-gap: 1em;
}
.team__header .team__navBtns .back, .team__header .team__navBtns .next{
  position: static;
  margin-top: 0;
  border-radius: 100%;
  border: none;
  color:#000;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
}
.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 25px;
}
.team__headerTitle .subtitle {
  color: #1544AC;
  margin-bottom: 0.5em;
}
.team__headerTitle .title {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.team .team__list {
  min-height: 425px;
}
.team .team__list .team__item.swiper-slide {
  transition: all .3s ease-in;
}
.team .team__list .team__item.swiper-slide-active, .team .team__list .team__item.swiper-slide-active + .team__item, .team .team__list .team__item.swiper-slide-active + .team__item + .team__item, .team .team__list .team__item.swiper-slide-active + .team__item + .team__item + .team__item{
  
  transform: translateY(50px);
}
.team .team__list .team__item .team__img {
  width: 315px;
  height: 315px;
  border-radius: 100%;
  overflow: hidden;
}
.team .team__list .team__item .team__img img {
  object-fit: cover;
  object-position: center;
  height: 100%;
}
.team .team__list .team__item .team__info {
  text-align: center;
}
.team .team__list .team__item .team__info .title {
  font-size: 25px;
}
.team .team__list .team__item .team__info .desc {
  font-size: 18px;
}
.clients__header {
  max-width: 1544px;
  margin: 0 auto;
}
.clients__header .subtitle {
  color: #1544AC;
  margin-bottom: 0.5em;
}
.clients__header .title {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.clients__list .clients__row {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}
.clients__list .clients__row .clients__item {
  border: 1px solid #ECECEC;
}
.clients__list .clients__row .clients__item img {
  padding: 35px 100px;
  
}
.feedbackFooter {
  background-color: #1544AC;
  color: #FFFFFF;
  border-radius: 15px;
  padding-top: 2em;
  padding-bottom: 2em;
}
.feedbackFooter .inner {
  display: flex;
  align-items: center;
}
.feedbackFooter .inner h3 {
  font-size: 25px;
  margin-bottom: 0.5em;
  font-weight: 400;
}
.feedbackFooter .feedbackFooter__question {
  flex-shrink: 0.85;
  font-size: 40px;
}
.feedbackFooter .feedbackFooter__form {
  line-height: 1;
}
.feedbackFooter .feedbackFooter__form .inputRow {
  display: flex;
  column-gap: 1em;
}
.feedbackFooter .feedbackFooter__form input {
  border: 1px rgb(244, 244, 244, 0.6) solid;
  border-radius: 15px;
  color: #fff;
  padding: 18px 28px;
  background-color: transparent;
  height: 66px;
}
.feedbackFooter .feedbackFooter__note {
  font-size: 16px;
  font-weight: 300;
  margin-top: 1em;
  margin-bottom: 1em;
}
.feedbackFooter .feedbackFooter__form .sendForm {
  width: 100%;
}
.feedbackFooter {
  margin-bottom: 0;
}